<div>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/fonts.css">

    <script src="/static/js/header.js"></script>
</div>
<div>
    <nav>
        <div class="center headerElement auto" style="padding-left:70rem;">
            <button onclick="openMenuBar()" title="menu image button" class="center blank button lightHover">
                <img id="menuImage" alt="menu image" src="/static/images/misc/menu.png">
            </button>
            <button onclick="openMenuBar()" title="menu text button" class="center blank button lightHover" style="padding-right:15rem;padding-bottom:7rem;">
                <p class="headerText" id="menuTextButton">Menu</p>
            </button>
            <div id="headerSearchBar">
                <div id="headerSearchBarMain">
                    <input id="searchInput" placeholder="Search" autocomplete="off">
                    <img id="searchIcon" src="/static/images/misc/search.png">
                </div>
                <div id="resultsPets">
                    
                </div>
            </div>
        </div>
        <div class="center headerElement auto" class="logoText" style="position:absolute;left:50vw;transform:translateX(-50%)">
            <button class="blank button lightHover">
                <a class="bland" href="/">
                    <img id="headerLogo" src="/static/images/misc/logo.png">
                </a>
            </button>
        </div>
        <div class="loggedIn">
            <div class="center headerElement auto" style="padding-right: 70rem;">
                <div class="center" style="position:relative;">
                    <div class="lightHover">
                        <button id="notificationsDiv" onclick="displayNotifications();" class="blank button lightHover smallPadding">
                            <img id="notificationIcon" src="/static/images/misc/notification.png">
                            <div id="notificationCircle">
                                <div style="width:14rem;height:14rem;display:flex;justify-content:center;align-items:center;">
                                    <p id="notificationCount"></p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div id="notificationsMenu">
                        <div>
                            <p>Notifications</p>
                            <div onclick="openDotsNotifications()">
                                <img src="/static/images/misc/more.png">
                            </div>
                            <div onclick="closeDotsNotifications();displayNotifications();goTo('/notifications')">
                                <p>Read All Notifications</p>
                            </div>
                        </div>
                        <div style="display:none;">
                            <p>You have no new notifications</p>
                        </div>
                        <div>
                            <div>
                                <img src="/static/images/notifications/default.png">
                                <div>
                                    <p>Head</p>
                                    <p>Body Body Body med mer bodier som ikke vises</p>
                                </div>
                                <p>3m</p>
                            </div>
                            <div>
                                <img src="/static/images/profile/default.png">
                                <div>
                                    <p>Head</p>
                                    <p>Body Body Body</p>
                                </div>
                                <p>5m</p>
                            </div>
                        </div>
                        <div>
                            <div></div>
                            <p>OLD</p>
                            <div></div>
                        </div>
                        <div>
                            <div>
                                <img src="/static/images/notifications/default.png">
                                <div>
                                    <p>Head</p>
                                    <p>Body Body Body med mer bodier som ikke vises</p>
                                </div>
                                <p>3m</p>
                            </div>
                            <div>
                                <img src="/static/images/profile/default.png">
                                <div>
                                    <p>Head</p>
                                    <p>Body Body Body</p>
                                </div>
                                <p>5m</p>
                            </div>
                            <div>
                                <img src="/static/images/profile/default.png">
                                <div>
                                    <p>Head</p>
                                    <p>Body Body Body</p>
                                </div>
                                <p>5m</p>
                            </div>
                            <div>
                                <img src="/static/images/profile/default.png">
                                <div>
                                    <p>Head</p>
                                    <p>Body Body Body</p>
                                </div>
                                <p>5m</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="center" style="position:relative">
                    <button class="blank button lightHover" style="padding-left:15rem;padding-right:0px;padding-top:6rem;">
                        <img id="profilePicture" src="none">
                    </button>
                    <div id="profileMenu">
                        <button class="bland blank button">
                            <a id="profileLink" class="blandHeader headerText profilePadding" href="/user/">Profile</a>
                        </button>
                        <button class="bland blank button">
                            <a id="profileNotifications" class="blandHeader headerText profilePadding" href="/notifications">Notifications</a>
                        </button>
                        <button onclick="insertSettingsIntoTheMenu();openTheMenu()" class="bland blank button">
                            <a class="blandHeader headerText profilePadding">Settings</a>
                        </button>
                        <div class="smallLine blackBackground" style="margin-top:5rem;margin-bottom:2rem;"> &nbsp; </div>
                        <button onclick="logout()" class="blank button lightHover" name="action" value="logout">
                            <a class="blandHeader headerText profilePadding">Sign Out</a>
                        </button>
                    </div>
                </div>
                <div class="center">
                    <p id="username" class="headerText">Hi</p>
                </div>
            </div>
        </div>
        <div class="notLoggedIn">
            <div class="center headerElement auto" style="padding-right:3vw;">
                <div class="center">
                    <button class="blank button lightHover">
                        <a href="/login" class="bland" id="signInButtonHeader">
                            <b class="headerText" style="font-weight:bold;padding-right:4.5rem;padding-bottom:0.5rem;font-size:14.7rem;">Sign In</b>
                        </a>
                    </button>
                </div>
                <div class="center">
                    <button id="signUpButton" class="blank button lightHover" style="padding-right:5rem;">
                        <a href="/signup" class="bland">
                            <p id="signUpText">Sign Up</p>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <div id="settingsBackground" onclick="closeSettings()">
        &nbsp;
    </div>
    <div id="settingsMenu">
        <h1 style="margin:0px;padding:max(1.2vw, 1vh);font-size:25rem;font-weight: 100;font-style:italic;letter-spacing: 30px;">Settings</h1>
        <div style="display:flex;flex-direction:row;justify-content:center;align-items:center;width:100%;">
            <div class="whiteUnderline">

            </div>
            <button id="openPreferencesButton" onclick="openPreferences()" class="bland blank button">
                <b id="openPreferencesButtonText">Preferences</b>
            </button>
            <div>

            </div>
            <button id="openMiscButton" onclick="openMisc()" class="bland blank button">
                <b id="openMiscButtonText">Other</b>
            </button>
            <div class="whiteUnderline">

            </div>
        </div>
        <div id="preferences">

        </div>
        <div id="misc">

        </div>
        <button id="closeButtonSettings" onclick="closeSettings()">
            <p>Close</p>
        </button>
    </div>
    <div id="theMenuBorder">
        <div id="theMenu">
            <p>Title</p>
            <div></div>
            <div>
                <p>Preference1</p>
                <p>Preference2</p>
            </div>
            <div>
                <p>Test1</p>
                <p>Test2</p>
            </div>
            <button onclick="closeTheMenu()">Okay</button>
        </div>
    </div>
    <div id="theMenuBackground" onclick="closeTheMenu()">
        
    </div>
</div>
<div id="menuBar">
    <div>
        <button onclick="closeMenuBar()" id="closeButtonMenu" class="blank button">
            <img src="/static/images/misc/x.png">
            <b>Close</b>
        </button>
        <div>
            <a class="bland" href="/"><p>Home</p></a>
            <a class="bland" href="https://elvebredd.com/ValueCalculator.html"><p>Pet value calculator</p></a>
            <a class="bland" href="https://elvebredd.com/FAQ.html"><p>Help</p></a>
            <a class="bland" href="/apply">Content Creator?</a>
        </div>
    </div>
    <div>
        <div class="line blackBackground"> </div>
        <div>
            <a class="bland" href="https://www.youtube.com/@Elvebredd/featured"><p>YouTube</p></a>
            <a class="bland" href="https://discord.com/invite/Byny894ZQP"><p>Discord</p></a>
            <a class="bland" href="https://www.tiktok.com/discover/elvebred"><p>TikTok</p></a>
            <a class="bland" href="https://www.roblox.com/groups/7838569/Elvebred#!/about"><p>Roblox Group</p></a>
            <a class="bland" href="https://www.roblox.com/users/323218394/profile"><p>Roblox Profile</p></a>
        </div>
    </div>
</div>

<div id=infoDiv>
    <b>Info</b>
    <p id="infoText"></p>
</div>

<div id="importantDiv">
    <b id="importantTitle">Important</b>
    <p id="importantText">Make sure to read this!</p>
    <div style="display:flex;flex-direction:row;gap:max(1vw, 2vh);padding-top:max(2vw, 4vh);">
        <button id="importantClose"><p>Go Back</p></button>
        <button id="importantAccept"><p>Accept</p></button>
    </div>
</div>

<div id="importantBackground"> &nbsp; </div>
