<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <script src="/static/js/index.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/uju1lhj.css">
</head>
<body>
    <header>
        {% include "header.html" %}
    </header>
    <div id="slides">
        <div>
            <figure></figure>
            <div style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(253, 249, 234) 100%), url('/static/images/slides/slide_1.png')">
                <div>
                    <div>
                        <p style="color:rgb(253, 249, 234);font-size:54%;font-weight:700;">USED BY</p>
                        <p style="color:rgb(253, 249, 234);font-size:216%;font-weight:800;top:5%">2M+</p>
                        <p style="color:rgb(253, 249, 234);font-size:75.6%;font-weight:200;bottom:0%;">ADOPT ME TRADERS</p>
                    </div>
                    <div></div>
                    <div>
                        <button style="font-size:100%;margin:0px;height:100%;width:62%;border-radius:calc(var(--slide-size) / 10000 * 4.44 * 86);background:linear-gradient(135deg, rgb(243, 231, 214) 0%, rgb(235, 229, 220) 50%, rgb(253, 249, 234) 100%);border:1px solid rgb(54, 53, 55);">
                            <p style="color:rgb(54, 53, 55);font-size:40.1%;width:100%;">Value calculator</p>
                        </button>
                    </div>
                </div>
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <figure></figure>
        </div>
        <div>
            <figure></figure>
            <div style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(253, 249, 234) 100%), url('/static/images/slides/slide_2.png')">
                <div>
                    <div>
                        <p style="color:rgb(253, 249, 234);font-size:54%;font-weight:700;">USED BY</p>
                        <p style="color:rgb(253, 249, 234);font-size:216%;font-weight:800;top:5%">2M+</p>
                        <p style="color:rgb(253, 249, 234);font-size:75.6%;font-weight:200;bottom:0%;">ADOPT ME TRADERS</p>
                    </div>
                    <div></div>
                    <div>
                        <button style="font-size:100%;margin:0px;height:100%;width:62%;border-radius:calc(var(--slide-size) / 10000 * 4.44 * 86);background:linear-gradient(135deg, rgb(243, 231, 214) 0%, rgb(235, 229, 220) 50%, rgb(253, 249, 234) 100%);border:1px solid rgb(54, 53, 55);">
                            <p style="color:rgb(54, 53, 55);font-size:40.1%;width:100%;">Value calculator</p>
                        </button>
                    </div>
                </div>
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <figure></figure>
        </div>
        <div>
            <figure></figure>
            <div style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(253, 249, 234) 100%), url('/static/images/slides/slide_3.png')">
                <div>
                    <div>
                        <p style="color:rgb(253, 249, 234);font-size:calc(16.6 * 3000 / 1920 * 1%);font-weight:800;top:43%">GET THE REAL</p>
                        <p style="color:rgb(253, 249, 234);font-size:calc(66.2 * 3000 / 1920 * 1%);font-weight:800;top:50%">EXPERIENCE</p>
                    </div>
                    <div></div>
                    <div>
                        <button style="font-size:100%;margin:0px;height:100%;width:62%;border-radius:calc(var(--slide-size) / 10000 * 4.44 * 86);background:linear-gradient(135deg, rgb(243, 231, 214) 0%, rgb(235, 229, 220) 50%, rgb(253, 249, 234) 100%);border:1px solid rgb(54, 53, 55);">
                            <p style="color:rgb(54, 53, 55);font-size:calc(22.9 * 3000 / 1920 * 1%);width:100%;">Join Now</p>
                        </button>
                    </div>
                </div>
                <div>
                    <div>
                        <p style="color:rgb(253, 249, 234);font-size:316%;font-weight:800;top:0%">2 - K</p>
                        <p style="color:rgb(253, 249, 234);font-size:126%;font-weight:300;top:90%">MEMBERS!</p>
                        <p style="background-color:rgb(253, 249, 234);width:30%;aspect-ratio:1/1;top:25%;left:34%;border-radius:20%;"></p>
                        <img src="/static/images/misc/discordLogoPink.png" style="width:21.75%;height:auto;top:40%;left:38%;">
                    </div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <figure></figure>
        </div>
        <div>
            <figure></figure>
            <div style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(253, 249, 234) 100%), url('/static/images/slides/slide_3.png')">
                <div>
                    <div>
                        <p style="color:rgb(253, 249, 234);font-size:calc(16.6 * 3000 / 1920 * 1%);font-weight:800;top:43%">GET THE REAL</p>
                        <p style="color:rgb(253, 249, 234);font-size:calc(66.2 * 3000 / 1920 * 1%);font-weight:800;top:50%">EXPERIENCE</p>
                    </div>
                    <div></div>
                    <div>
                        <button style="font-size:100%;margin:0px;height:100%;width:62%;border-radius:calc(var(--slide-size) / 10000 * 4.44 * 86);background:linear-gradient(135deg, rgb(243, 231, 214) 0%, rgb(235, 229, 220) 50%, rgb(253, 249, 234) 100%);border:1px solid rgb(54, 53, 55);">
                            <p style="color:rgb(54, 53, 55);font-size:calc(22.9 * 3000 / 1920 * 1%);width:100%;">Join Now</p>
                        </button>
                    </div>
                </div>
                <div>
                    <div>
                        <p style="color:rgb(253, 249, 234);font-size:316%;font-weight:800;top:0%">2 - K</p>
                        <p style="color:rgb(253, 249, 234);font-size:126%;font-weight:300;top:90%">MEMBERS!</p>
                        <p style="background-color:rgb(253, 249, 234);width:30%;aspect-ratio:1/1;top:25%;left:34%;border-radius:20%;"></p>
                        <img src="/static/images/misc/discordLogoPink.png" style="width:21.75%;height:auto;top:40%;left:38%;">
                    </div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <figure></figure>
        </div>
        <div>
            <figure></figure>
            <div style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(253, 249, 234) 100%), url('/static/images/slides/slide_1.png')">
                <div>
                    <div>
                        <p style="color:rgb(253, 249, 234);font-size:54%;font-weight:700;">USED BY</p>
                        <p style="color:rgb(253, 249, 234);font-size:216%;font-weight:800;top:5%">2M+</p>
                        <p style="color:rgb(253, 249, 234);font-size:75.6%;font-weight:200;bottom:0%;">ADOPT ME TRADERS</p>
                    </div>
                    <div></div>
                    <div>
                        <button style="font-size:100%;margin:0px;height:100%;width:62%;border-radius:calc(var(--slide-size) / 10000 * 4.44 * 86);background:linear-gradient(135deg, rgb(243, 231, 214) 0%, rgb(235, 229, 220) 50%, rgb(253, 249, 234) 100%);border:1px solid rgb(54, 53, 55);">
                            <p style="color:rgb(54, 53, 55);font-size:40.1%;width:100%;">Value calculator</p>
                        </button>
                    </div>
                </div>
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <figure></figure>
        </div>
    </div>
    <aside id="slideDots"></aside>
    <div id="quickNavigation">
        <button>
            <a href="/value-calculator">
                <p>Value Calculator</p>
            </a>
        </button>
        <button>
            <a href="/trading-servers">
                <p>Trading Servers</p>
            </a>
        </button>
        <button>
            <a href="/value-list">
                <p>Value List</p>
            </a>
        </button>
    </div>

    <main class="maxWidth main" style="display:flex;flex-direction:column;overflow:hidden;">
        <div class="listingsCategory">
            <p>Suggested</p>
            <div id="suggestedListings" class="listings">

            </div>
        </div>
        <div class="listingsCategory">
            <p>Recent</p>
            <div id="recentListings" class="listings">

            </div>
        </div>
        <div class="listingsCategory">
            <p>Overpay</p>
            <div id="overpayListings" class="listings">
                
            </div>
        </div>
    </main>

    <div id="addInventory">
        <div style="display:flex;flex-direction:row;justify-content:space-between;padding-right:5%;padding-left:5%;">
            <div class="center" style="gap:max(0.25vw, 0.5vh);padding:max(0.5vw, 1vh);">
                <img id="filterImage" src="../static/images/misc/menu.png">
                <p id="filterText">Filter</p>
            </div>
            <div id="petSearchDiv" class="center">
                <input id="petSearch" placeholder="Search" onkeyup="searchUpPets()">
                <img id="petSearchImage" src="../static/images/misc/search.png">
            </div>
        </div>
        <div style="display:flex;flex-direction:row;justify-content:space-between;gap:0.5vw">
            <div id="filter">
                <div id="filterButtons">
                    <button id="all" class="filterButton" onclick="filter('all', 0)"><b class="filterButtonText">All</b></button>
                    <button id="pets" class="filterButton" onclick="filter('pets', 0)"><b class="filterButtonText">Pets</b></button>
                    <button id="common" class="filterButton" onclick="filter('common', 0)"><b class="filterButtonText">Common</b></button>
                    <button id="eggs" class="filterButton" onclick="filter('eggs', 0)"><b class="filterButtonText">Eggs</b></button>
                    <button id="legendary" class="filterButton" onclick="filter('legendary', 0)"><b class="filterButtonText">Legendary</b></button>
                    <button id="other" class="filterButton" onclick="filter('other', 0)"><b class="filterButtonText">Other</b></button>
                    <button id="petWear" class="filterButton" onclick="filter('pet wear', 0)"><b class="filterButtonText">Pet Wear</b></button>
                    <button id="rare" class="filterButton" onclick="filter('rare', 0)"><b class="filterButtonText">Rare</b></button>
                    <button id="ultraRare" class="filterButton" onclick="filter('ultra rare', 0)"><b class="filterButtonText">Ultra-Rare</b></button>
                    <button id="uncommon" class="filterButton" onclick="filter('uncommon', 0)"><b class="filterButtonText">Uncommon</b></button>
                    <button id="vehicles" class="filterButton" onclick="filter('vehicles', 0)"><b class="filterButtonText">Vehicles</b></button>
                </div>
            </div>
            <div class="center">
                <div id="petImages">

                </div>
            </div>
        </div>
        <div id="imageButtons">
            <button id="flyButton" onclick="enableFly()">
                <h1 style="color:white;">F</h1>
            </button>
            <button id="rideButton" onclick="enableRide()">
                <h1 style="color:white;">R</h1>
            </button>
            <button id="regularButton" onclick="enableRegular()">
                <h1 style="color:white;">D</h1>
            </button>
            <button id="neonButton" onclick="enableNeon()">
                <h1 style="color:white;">N</h1>
            </button>
            <button id="megaButton" onclick="enableMega()">
                <h1 style="color:white;">M</h1>
            </button>
        </div>
        <div id="closeButton" onclick="closeInventory()">
            <img style="width:max(1.5vw, 3vh);aspect-ratio: 1/1;" src="../static/images/misc/close.svg">
        </div>
    </div>
    <div id="listingInterface2Background">
        <div id="listingInterface2">
            <img src="/static/images/misc/logo.png">
            <div id="listingInterface2Information">
                <div>
                    <p style="font-size:40rem;font-weight:900;color:rgb(253, 249, 234);">Your Offer</p>
                    <p id="yourOfferValue" style="font-size:25rem;font-weight:800;margin-left:10rem;color:rgb(253, 249, 234);">69420</p>
                    <div id="listingInterface2YourOfferPets" class="listingInterface2PetsDiv">
                        <div>
                            <img src="/static/images/pets/Birthday Butterfly 2023.png">
                            <div>
                                <div style="background:linear-gradient(135deg, rgb(142, 202, 232) 0%, rgb(47, 152, 204) 50%, rgb(0, 134, 200) 100%);">
                                    <p>F</p>
                                </div>
                                <div style="background:linear-gradient(135deg, rgb(255, 197, 220) 0%, rgb(237, 44, 121) 50%, rgb(255, 0, 101) 100%);">
                                    <p>R</p>
                                </div>
                                <div style="background:linear-gradient(135deg, rgb(187, 80, 253) 0%, rgb(69, 3, 198) 50%, rgb(81, 28, 182) 100%);">
                                    <p>M</p>
                                </div>
                                <div style="background:linear-gradient(135deg, rgb(193, 255, 110) 0%, rgb(140, 198, 63) 50%, rgb(19, 114, 11) 100%);">
                                    <p>N</p>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
                <div>
                    <p id="listingInterface2Value" style="font-size:100rem;font-weight:900;color:rgb(253, 249, 234);">2</p>
                    <div style="width:0.5rem;height:225rem;background-color:rgb(243, 239, 223)"></div>
                </div>
                <div>
                    <p style="font-size:40rem;font-weight:900;">Their Offer</p>
                    <p id="theirOfferValue"  style="font-size:25rem;font-weight:800;margin-right:10rem;">69420</p>
                    <div id="listingInterface2TheirOfferPets" class="listingInterface2PetsDiv">
                        <div>
                            <img src="/static/images/pets/Birthday Butterfly 2023.png">
                            <div>
                                <div style="background:linear-gradient(135deg, rgb(142, 202, 232) 0%, rgb(47, 152, 204) 50%, rgb(0, 134, 200) 100%);">
                                    <p>F</p>
                                </div>
                                <div style="background:linear-gradient(135deg, rgb(255, 197, 220) 0%, rgb(237, 44, 121) 50%, rgb(255, 0, 101) 100%);">
                                    <p>R</p>
                                </div>
                                <div style="background:linear-gradient(135deg, rgb(187, 80, 253) 0%, rgb(69, 3, 198) 50%, rgb(81, 28, 182) 100%);">
                                    <p>M</p>
                                </div>
                                <div style="background:linear-gradient(135deg, rgb(193, 255, 110) 0%, rgb(140, 198, 63) 50%, rgb(19, 114, 11) 100%);">
                                    <p>N</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p style="font-size:16rem;font-weight:bold;color:rgb(109, 107, 112);margin-top:110rem;">You Can Offer With</p>
            <div id="listingInterface2Preferences">
                <p>High Tiers</p>
                <p style="font-weight:bold;">|</p>
                <p>Mega Legs</p>
                <p style="font-weight:bold;">|</p>
                <p>Neon Legs</p>
                <p style="font-weight:bold;">|</p>
                <p>Default Legs</p>
                <p style="font-weight:bold;">|</p>
                <p>Preppy</p>
                <p style="font-weight:bold;">|</p>
                <p>2019 Pets</p>
                <p style="font-weight:bold;">|</p>
                <p>Randoms</p>
                <p style="font-weight:bold;">|</p>
                <p>Items</p>
            </div>
            <div id="listingInterface2Main">
                <div style="width:50%">
                    <div style="display:flex;flex-direction:row;gap:10rem;">
                        <button id="changeButton" onclick="setAddPetTypeTo('listingInterface2');openInventory()"><p>Change</p></button>
                        <button id="finishButton" onclick="sendOffer();closeListingInterface2()"><p>Finish</p></button>
                    </div>
                    <div id="sharkValueRequestedDiv" style="display:flex;flex-direction:row;gap:2rem;width:180rem;justify-content:center;margin-top:10rem;">
                        <p style="font-size: 20rem;font-weight:200;color:rgb(54, 53, 55);" id="youAddTheyAdd">YOU ADD: </p>
                        <p id="sharkValueRequested" style="font-size:20rem;font-weight:500;color:rgb(54, 53, 55);">2</p>
                    </div>
                </div>
                <div style="width:35%;display:flex;flex-direction:column;margin-left:20%;gap:10rem;">
                    <div style="display:flex;flex-direction:row;gap:3rem;">
                        <p style="color:rgb(54, 53, 55);font-size:14rem;font-weight:200;">Listed: </p>
                        <p id="timeAgoListed" style="color:rgb(54, 53, 55);font-size:14rem;font-weight:500;">24 Minutes Ago</p>
                    </div>
                    <div style="display:flex;flex-direction:row;gap:3rem;">
                        <p style="color:rgb(54, 53, 55);font-size:14rem;font-weight:200;">Total Offers: </p>
                        <p id="totalOffers" style="color:rgb(54, 53, 55);font-size:14rem;font-weight:500;">3</p>
                    </div>
                    <div style="display:flex;flex-direction:row;gap:3rem;">
                        <p style="color:rgb(54, 53, 55);font-size:14rem;font-weight:200;">Roblox User: </p>
                        <p id="listingRobloxUsername" style="color:rgb(54, 53, 55);font-size:14rem;font-weight:500;">EmanuelNorsk</p>
                    </div>
                    <div style="display:flex;flex-direction:row;gap:3rem;">
                        <p style="color:rgb(54, 53, 55);font-size:14rem;font-weight:200;">Trades Completed by This User: </p>
                        <p id="completedTradesByUser" style="color:rgb(54, 53, 55);font-size:14rem;font-weight:500;">62</p>
                    </div>
                </div>
            </div>
            <div style="display:flex;flex-direction:row;justify-content:space-between;align-items:center;width:90%;margin-top:35rem;">
                <div style="height:0.75rem;width:275rem;background-color:rgb(109, 107, 112);"></div>
                <p style="font-size:25rem;font-weight:700;color:rgb(109, 107, 112);letter-spacing:2.5rem;">OFFERS</p>
                <div style="height:0.75rem;width:275rem;background-color:rgb(109, 107, 112);"></div>
            </div>
            <div id="offers">
                <div class="offer">
                    <div>
                        <div>
                            <img src="/static/images/pets/Birthday Butterfly 2023.png">
                            <div>
                                <div style="background:linear-gradient(135deg, rgb(142, 202, 232) 0%, rgb(47, 152, 204) 50%, rgb(0, 134, 200) 100%);">
                                    <p>F</p>
                                </div>
                                <div style="background:linear-gradient(135deg, rgb(255, 197, 220) 0%, rgb(237, 44, 121) 50%, rgb(255, 0, 101) 100%);">
                                    <p>R</p>
                                </div>
                                <div style="background:linear-gradient(135deg, rgb(187, 80, 253) 0%, rgb(69, 3, 198) 50%, rgb(81, 28, 182) 100%);">
                                    <p>M</p>
                                </div>
                                <div style="background:linear-gradient(135deg, rgb(193, 255, 110) 0%, rgb(140, 198, 63) 50%, rgb(19, 114, 11) 100%);">
                                    <p>N</p>
                                </div>
                            </div>
                        </div>              
                    </div>
                    <div>
                        <div>
                            <p>SHARK VALUE</p>
                            <p>2</p>
                        </div>
                        <div>
                            <p>EmanuelNorsk</p>
                            <img src="/static/images/profile/coolDragon.png">
                        </div>
                        <div>
                            <p>24 Minutes Ago</p>
                        </div>
                        <div>
                            <p>Pending</p>
                        </div>
                    </div>
                </div>
                <div class="offerLine"></div>
            </div>
        </div>
    </div>
    <div onclick="closeInventory()" id="addInventoryBackground">
        &nbsp;
    </div>
    <div id="errorDiv">
        <b id="errorText"></b>
    </div>
    <div id="messageDiv">
        <b id="messageText"></b>
    </div>
    <footer>
        {% include "footer.html" %}
    </footer>
</body>
</html>

<script type="application/data" id="tradesDict">
    {{ trades | tojson | safe }}
</script>

<script type="application/data" id="petsDict-data">
    {{ pets | tojson | safe }}
</script>

<script type="application/data" id="userData-data">
    {{ userData | tojson | safe }}
</script>
