<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <script src="/static/js/notifications.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/uju1lhj.css">
    <link rel="stylesheet" href="/static/css/notifications.css">
</head>
<body>
    <header>
        {% include "header.html" %}
    </header>
    <main style="width:100%;display:flex;justify-content:center;flex-direction:row;">
        <div id="notificationsFullscreen">
            <div>
                <div onclick="goBack()">
                    <img src="/static/images/misc/arrow.png">
                    <p>Notifications</p>
                </div>
                <div>
                    <div onclick="selectCategory()">
                        <p>All</p>
                        <img src="/static/images/misc/x.png">
                    </div>
                    <div onclick="selectNewCategory(event)">
                        <p>All</p>
                        <p>Listings</p>
                        <p>Value Updates</p>
                        <p>Other</p>
                    </div>
                </div>\
            </div>
            <div>
                <div></div>
                <p>Last 24 Hours</p>
                <div></div>
            </div>
            <div id="last24HoursNotifications" class="notificationsContainer">
                <div>
                    <img src="/static/images/notifications/default.png">
                    <div>
                        <p>Head</p>
                        <p>Body Body Body Body</p>
                    </div>
                    <p>10m</p>
                </div>
                <div>
                    <img src="/static/images/notifications/default.png">
                    <div>
                        <p>Head</p>
                        <p>Body Body Body Body</p>
                    </div>
                    <p>10m</p>
                </div>
                <div>
                    <img src="/static/images/notifications/default.png">
                    <div>
                        <p>Head</p>
                        <p>Body Body Body Body</p>
                    </div>
                    <p>10m</p>
                </div>
            </div>
            <div>
                <div></div>
                <p>Old</p>
                <div></div>
            </div>
            <div id="last24HoursNotifications" class="notificationsContainer">
                <div>
                    <img src="/static/images/profile/coolDragon.png">
                    <div>
                        <p>Head</p>
                        <p>Body Body Body Body</p>
                    </div>
                    <p>10m</p>
                </div>
                <div>
                    <img src="/static/images/notifications/default.png">
                    <div>
                        <p>Head</p>
                        <p>Body Body Body Body</p>
                    </div>
                    <p>10m</p>
                </div>
                <div>
                    <img src="/static/images/notifications/default.png">
                    <div>
                        <p>Head</p>
                        <p>Body Body Body Body</p>
                    </div>
                    <p>10m</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        {% include "footer.html" %}
    </footer>
</body>
</html>