<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet</title>
    <script src=""></script>
    <link rel="stylesheet" href="https://use.typekit.net/uju1lhj.css">
    <link rel="stylesheet" href="../static/css/pet.css">
    <script src="/static/js/pet.js"></script>
</head>
<body>
    <header>
        {% include "header.html" %}
    </header>
        <main>
            <div>
                <img>
                <div>
                    <p></p>
                    <div id="underNav">
                        <button id="selectListing">Listings</button>
                        <button id="selectHistory">History</button>
                    </div>
                    <div>
                        <button id="defaultSortButton">Default</button>
                        <button id="neonSortButton">Neon</button>
                        <button id="megaSortButton">Mega</button>
                    </div>
                </div>
            </div>
            <div id="allListings">

            </div>
            <div id="allHistory">

            </div>
        </main>
    </div>
    <footer>
        {% include "footer.html" %}
    </footer>
</body>
</html>

<script>
  
</script>